@using GestionPersonnel.Models.Employe
@using GestionPersonnel.Services
@inject IEmployeService EmployeService

<div class="modal-overlay" style="@DisplayStyle">
    <div class="modal-content">

        <span class="close-btn" @onclick="Hide">&times;</span>
        <h3>Ajouter Avance</h3>

        <form>




            <label>Employes</label>
            <select>
                <option>-- Choisir Employe --</option>
                @if (employes != null)
                    @foreach (var employe in employes)
                    {
                        <option value="@employe.EmployeID">@employe.Nom @employe.Prenom</option>
                    }
                else
                {
                    <option>-- Null --</option>
                }
            </select>


            <label>Valuer de Avance</label>
            <input type="number" placeholder="00000.00DA" />

            <button type="submit">Confirme</button>

        </form>
    </div>
</div>
@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    private List<Employe> employes;

    private string DisplayStyle => IsVisible ? "display: flex;" : "display: none;";
    protected override async Task OnInitializedAsync()
    {
        employes = await EmployeService.GetEmployeesAsync();
    }

    private void Hide() => OnClose.InvokeAsync();

}