@page "/hh"

<div class="paiement-pop-up">

	<div class="close-btn">
		<button>X</button>
	</div>

	<div class="pop-up-content">
		<div class="panel-titel">
			<p>Mise a Jour  Equipe</p>
		</div>

		<div class="line1">

			<EditForm Model=@video>
				<label class="pos-label">Choisi L'Equipe</label>
				<InputSelect @bind-Value=@video.DisplayId>
					@if (video.DisplayId is null)
					{
						<option value="">none</option>
					}
					else
					{
						<option value=@selectedDisplay?.Id>@selectedDisplay?.Name</option>
					}
					@foreach (var display in unSelectedDisplays)
					{
						<option value=@display.Id>@display.Name</option>
					}
					@if (video.DisplayId is not null)
					{
						<option value="">none</option>
					}
				</InputSelect>
			</EditForm>
		</div>
		<div class="line3">



			<label>Modifee Le Nom D'Equipe</label>
			<input type="text" />

		</div>

		<div class="line3">

			<EditForm Model=@video>
				<label>Modifie Le Chef D'Equipe</label>
				<InputSelect @bind-Value=@video.DisplayId>
					@if (video.DisplayId is null)
					{
						<option value="">none</option>
					}
					else
					{
						<option value=@selectedDisplay?.Id>@selectedDisplay?.Name</option>
					}
					@foreach (var display in unSelectedDisplays)
					{
						<option value=@display.Id>@display.Name</option>
					}
					@if (video.DisplayId is not null)
					{
						<option value="">none</option>
					}
				</InputSelect>
			</EditForm>


			<label>Choisi Les Membre D'Equipe</label>
			<input type="checkbox" />
		</div>
	</div>
</div>


@code {
	private Video video = new Video();
	private IEnumerable<Display> displays = Enumerable.Empty<Display>();

	private IEnumerable<Display> unSelectedDisplays =>
		displays.Where(display => display.Id != video.DisplayId);

	Display? selectedDisplay => video.DisplayId.HasValue ?
							displays.First(d => d.Id == this.video.DisplayId) :
							default(Display);

	protected override void OnInitialized()
	{
		displays = Enumerable.Range(0, 10)
			.Select(i => new Display { Id = i, Name = $"Name{i}" });
	}

	public class Display
	{
		public int Id { get; set; }

		public string? Name { get; set; }
	}

	public class Video
	{
		public int? DisplayId { get; set; }
	}
}